*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background: rgb(213,63,251);
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
}

nav > a:hover{
    text-decoration: none;
    color: #fff;
}

.navbar-header a:hover{
    color: #A9215C;
}

header{
    width: 100%;
    height: 100px;
}

.navbar-header{
    margin-left: -90px;
}

a{
    color: #fff;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background: rgb(213,63,251);
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
    padding: 0 20px;
    box-shadow: 0px 0px 30px rgba(213, 63, 251, 0.826) 0%;
    top: -18px;
}

.btn-custom {
    color: #fff;
    background-color: rgb(169, 33, 92);
    border-color: rgb(169, 33, 92);
}

.btn-custom:focus, .btn-custom:active, .btn-custom:hover {
    background-color: #8e1449;
}

.form-group input{
    height: 42px;
    font-size: 15px;
    border:0;
    border-radius: 5px;
}

button{
    width: 200px;
    margin: 5px 0 35px;
}

.forgot{
    padding: 5px 0;
    margin-bottom: 15px;
}

.forgot a{
    color: white;
}

footer{
    background: rgb(213,63,251);
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
    padding: 40px 0 30px 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px;
    color: #fff;
}

.footer-content {
    flex-grow: 1;
}

.logo {
    width: 110px;
    height: auto;
}

.titulo-final{
    font-weight: 300;
    text-align: left;
    font-size: small;
    margin-left: 20px;
}

footer h2{
    font-weight: 300;
    text-align: left;
    font-size: small;
    margin-left: 20px;
}

h1{
    line-height: 2;
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}