*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background: rgb(213,63,251);
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
}

.navbar-header a:hover{
    color: #A9215C;
}

.navbar-header{
    margin-left: -90px;
}

a{
    color: #fff;
}

a:hover{
    color: #fff;
}

.table-responsive{
    background-color: #fff;
    margin-bottom: -16px;
}

.alert-danger {
    text-align: center;
}

.alert-success {
    text-align: center;
}

table{
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
}

.custom-thead {
    background-color: #A9215C;
    color: #ffffff;
}

.prices-table{
    margin-top: 33px;
}

thead{
    font-size: small;
}

tr{
    font-size: small;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

th{
    font-size: initial;
    text-align: center;
}

tbody{
    font-size: small;
    font-weight: bolder;
}

.form-group{
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: rgb(169, 33, 92);
    border-color: rgb(169, 33, 92);
    margin-top: 25px;
}

footer{
    background: rgb(213,63,251);
    background: radial-gradient(circle, rgba(213, 63, 251, 0.826) 0%, rgba(252, 70, 106, 0.818) 100%);
    padding: 40px 0 30px 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px;
    color: #fff;
}

.footer-content {
    flex-grow: 1;
}

.logo {
    width: 110px;
    height: auto;
}

.titulo-final{
    font-weight: 300;
    text-align: left;
    font-size: small;
    margin-left: 20px;
}

footer h2{
    font-weight: 300;
    text-align: left;
    font-size: small;
    margin-left: 20px;
}