<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <h2>Restablecer contraseña</h2>
        <p>Hola, ha indicado que ha olvidado su contraseña. Para solucionarlo, en este email, puede encontrar una nueva contraseña temporal para acceder a su cuenta.
            Podrá cambiarla desde su perfil, una vez que haya iniciado sesión.</p>
        <p><strong>Nueva Contraseña:</strong><p th:text="${newPassword}"></p></p>
        </br>
        <p>Gracias por usar nuestra app.</p>
        <p>Electroshop</p>
    </body>
</html>
