<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ElectroShop</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="shortcut icon" id="favicon" href="../static/img/logo.png" th:href="@{/img/logo.png}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

    <!-- Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/login">Inicio de sesión</a>
            <a href="/signup">Registro</a>
        </nav>
        <section class="textos-header">
            <h1>Descubre los precios que deseas en cualquier momento del año</h1>
            <h2>Disponible con ElectroShop</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;"></path></svg>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Sobre nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="../static/img/img1.svg" th:src="@{/img/img1.svg}" alt="" class="image-about-us"/>
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores electrodomésticos</h3>
                    <p>Eleva tu hogar al siguiente nivel con nuestros productos. Contamos con electrodomésticos de una calidad
                        excepcional, seleccionados de entre las mejores marcas, que garantizan su durabilidad y buen rendimiento durante años.
                        Además, en nuestra web podrás encontrar productos innovadores con tecnología avanzada, que harán tu vida mucho más fácil.
                        Contamos con una gran variedad de productos: en ElectroShop disponemos de una amplia gama de electrodomésticos de las mejores
                        marcas para todos los espacios de tu hogar. Ofrecemos todo lo que necesitas para equipar tu hogar de la mejor forma.
                    </p>
                    <h3><span>2</span>Al mejor precio</h3>
                    <p>Si algo nos caracteriza, es la transparencia con el cliente. Es por ello que cualquier persona podrá consultar el precio de
                        cualquier producto para cualquier época del año. Por ejemplo, en junio un cliente puede consultar a través de nuestra web cuánto
                        costará el producto que desea en el mes de diciembre. De esta forma, el proporcionamos al cliente confianza, seguridad y transparencia
                        a la hora de realizar una compra, evitando el llamado "efecto ancla".
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <h1 class="titulo-final">&copy; 2023 María Duque</h1><h2>Todos los derechos reservados.</h2>
        </div>
        <img src="../static/img/logo.png" th:src="@{/img/logo.png}" class="logo"/>
    </footer>
</body>
</html>

