<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/login.css}">

    <script type="text/javascript">
    function confirmDelete(id){
        $('#deleteModal').modal('show');
        $("#userIdHiddenInput").val(id);
    }

    function deleteUser(){
        var id = $("#userIdHiddenInput").val();
        window.location = "deleteUser/"+id;
    }
    </script>
</head>
<body>
<header>
    <h1>Welcome to Electroshop</h1>
    <nav>
        <ul>
            <a href="#" th:object="${user}" th:href="@{'/editUser/' + ${user.id}}"><i class="fas fa-edit"></i></a>
            <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-trash"></i></a>

            <li><a href="#" th:href="@{/productsList}">Get all products</a></li>
            <li><a href="/application/v1/prices">Get all prices</a></li>
            <li><a href="/application/datePrice">Get product price</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/login?logout}"><span>logout  </span><span class="float-right"><i class="fas fa-sign-out-alt"></i></span></a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>Presentación</h2>
        <p>Bienvenido a mi sitio web. Aquí encontrarás información sobre nuestros productos y servicios.</p>
    </section>

    <section>
        <h2>Últimas novedades</h2>
        <ul>
            <li>Noticia 1</li>
            <li>Noticia 2</li>
            <li>Noticia 3</li>
        </ul>
    </section>
</main>

<footer>
    <p>&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
</footer>
<div th:insert="~{confirm-delete-dialog.html}" th:remove="tag"></div>
</body>
</html>


