<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de sesión</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="shortcut icon" id="favicon" href="../static/img/logo.png" th:href="@{/img/logo.png}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/login.css}">

    <!-- Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">ElectroShop</a>
            </div>
        </div>
    </nav>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../static/img/userlogo.png" th:src="@{/img/userlogo.png}"/>
                </div>
                <form class="col-12" th:action="@{/login}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="email" class="form-control" required autofocus="autofocus" placeholder="Email" name="email"/>
                    </div>
                    <div class="form-group" id="password-group">
                        <input type="password" class="form-control" required autofocus="autofocus" placeholder="Contraseña" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-custom"><i class="fas fa-sign-in-alt"></i>  Iniciar sesión</button>
                </form>
                <div class="col-12 forgot">
                    <p><a href="#" th:href="@{/forgotPassword}">¿Olvidaste la contraseña?</a></p>
                    <p><a href="#" th:href="@{/signup}">Nuevo usuario - Regístrate</a> </p>
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    Sesión cerrada correctamente.
                </div>
                <div class="alert alert-danger" th:if="${param.error}">Invalid username or password</div>
                <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}">Success Message</div>
            </div>
        </div>
    </div>
</br>
</br>
</br>
    <footer>
        <div class="footer-content">
            <h1 class="titulo-final">&copy; 2023 María Duque</h1><h2>Todos los derechos reservados.</h2>
        </div>
        <img src="../static/img/logo.png" th:src="@{/img/logo.png}" class="logo"/>
    </footer>
</body>
</html>