<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products List</title>

  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Nuestro css-->
  <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/login.css}">

</head>
<body>
<div class="table-responsive">
  <table id="productPricesList" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Desde</th>
      <th scope="col">Hasta</th>
      <th scope="col">Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="price: ${productPricesList}">
      <td th:text="${price.priceList}"></td>
      <td th:text="${price.startDate}"></td>
      <td th:text="${price.endDate}"></td>
      <td th:text="${price.price} + ' EUR'"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>